/.bundle
/log/*
/test/*
/vendor/*
/lib/*
/tmp/*
!/log/.keep
!/tmp/.keep

restart
public/assets/*
public/assets/
public/assets/.sprockets-manifest-28a437300651ef60142412bfd5bdc31e.json

*.rbc
capybara-*.html
.rspec
/log
/tmp
/test
/vendor
/lib
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

config/initializers/secret_token.rb
config/initializers/secret_token.rb~
config/initializers/secret_token.*

config/initializers/devise.rb
config/initializers/devise.rb~
config/initializers/devise.*

config/secrets.yml
config/secrets.*
config/database.yml
config/database.yml~
config/database.*

.env

/.bundle
/vendor/bundle
.rvmrc

/vendor/assets/bower_components
*.bowerrc
bower.json
.powenv

/node_modules
/yarn-error.log

.byebug_history
