/.bundle
/log/*
/test/*
/tmp/*
!/log/.keep
!/tmp/.keep

*.rbc
capybara-*.html
.rspec
/log
/tmp
/test
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

config/initializers/secret_token.rb
config/initializers/secret_token.rb~
config/initializers/secret_token.*
config/secrets.yml
config/secrets.*
config/database.yml
config/database.yml~
config/database.*

.env

/.bundle
/vendor/bundle
.rvmrc

/vendor/assets/bower_components
*.bowerrc
bower.json
.powenv

/node_modules
/yarn-error.log

.byebug_history
