<div class="box box-success">

  <div class="box-header with-border">
    <h3 class="box-title">Atualizar Dados do Carro <strong>(Registrado para: <%= @carro.pessoa.try(:nome) %>)</strong></h3>
  </div>
  <%= render 'form', carro: @carro %>
</div>