<div id="relatorios">
  <div class="box box-success">
    <div class="box-header">
      <h3 class="box-title">Relatórios do Sistema</h3>

      <div class="box-tools">

      </div>
    </div>

    <div class="box-body no-padding">

      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
        <tr>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

