<select id="pessoa_pessoa" class="form-control" name="pessoa[pessoa_id]">
  <option value="">Selecione</option>
</select>

<script type="text/javascript">
  $(document).ready(function(){

    function formatRepo (repo) {
      if (repo.loading) return repo.text;

      var markup = '<div class="clearfix">' +
      '<div class="col-sm-6">' + repo.nome + '</div>' +
      '</div>';

      if (repo.description) {
        markup += '<div>' + repo.nome + '</div>';
      }
      markup += '</div></div>';
      return markup;
    }

    function formatRepoSelection (repo) {
      return repo.nome || repo.text;
    }

    $('#pessoa_pessoa').select2({
      ajax: {
        url: "/pessoas.json?select2_trigger=true",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            q: params.term, 
            page: params.page
          };
        },
        processResults: function (data, params) {

          params.page = params.page || 1;
          return {
            results: data.pessoas,
            pagination: {
              more: (params.page * 30) < data.total_count
            }
          };
        },
        // cache: true
      },
      escapeMarkup: function (markup) { return markup; }, 
      minimumInputLength: 1,
      templateResult: formatRepo, 
      templateSelection: formatRepoSelection 
    });

    <% if action_name == 'edit' or 'update' %>
    var $option1 = $('<option selected><%= @pessoa.indicado %></option>').val('<%= @pessoa.pessoa_id %>');
    $('#pessoa_pessoa').append($option1).trigger('change');
    <% elsif action_name == 'create' %>
    <% unless form.object.pessoa_id.nil? %>
    var $option1 = $('<option selected><%= @pessoa.indicado %></option>').val('<%= @pessoa.pessoa_id %>');
    $('#pessoa_pessoa').append($option1).trigger('change');
    <% end %>
    <% end %>
  });
</script>