<select id="pessoa_bairros" class="form-control" name="pessoa[bairro_id]">
  <option value="">Selecione</option>
</select>

<div id="pessoa_bairro_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        <h4 class="modal-title">Gecamp</h4>
      </div>
      <div class="modal-body">
        <p>Você deve selecionar primeiro a Cidade</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    function formatRepo (repo) {
      if (repo.loading) return repo.text;

      var markup = '<div class="clearfix">' +
      '<div class="col-sm-6">' + repo.nome + '</div>' +
      '</div>';

      if (repo.description) {
        markup += '<div>' + repo.nome + '</div>';
      }
      markup += '</div></div>';
      return markup;
    }

    function formatRepoSelection (repo) {
      return repo.nome || repo.text;
    }

    $('#pessoa_bairros').select2({
      ajax: {
        url: "/bairros.json?select2_trigger=true",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            cidade: $('#pessoa_cidades').val(),
            q: params.term, 
            page: params.page
          };
        },
        processResults: function (data, params) {

          params.page = params.page || 1;
          if($('#pessoa_cidades').val() == ''){
            $('#pessoa_bairro_modal').modal();
          }else{
            return {
              results: data.bairros,
              pagination: {
                more: (params.page * 30) < data.total_count
              }
            };
          }
        },
        // cache: true
      },
      escapeMarkup: function (markup) { return markup; }, 
      minimumInputLength: 1,
      templateResult: formatRepo, 
      templateSelection: formatRepoSelection 
    });

    <% if action_name == 'edit' %>
    var $option1 = $('<option selected><%= @pessoa.bairro.try(:nome) %></option>').val('<%= @pessoa.bairro_id %>');
    $('#pessoa_bairros').append($option1).trigger('change');
    <% elsif action_name == 'create' %>
    <% unless form.object.bairro_id.nil? %>
    var $option1 = $('<option selected><%= @pessoa.bairro.try(:nome) %></option>').val('<%= @pessoa.bairro_id %>');
    $('#pessoa_bairros').append($option1).trigger('change');
    <% end %>
    <% end %>
  });
</script>