<select id="cidade_municipios" class="form-control" name="cidade[municipio_id]">
  <option value="">Selecione</option>
</select>

<script type="text/javascript">
  $(document).ready(function(){

    function formatRepo (repo) {
      if (repo.loading) return repo.text;

      var markup = '<div class="clearfix">' +
      '<div class="col-sm-1">' +
      '</div>' +
      '<div clas="col-sm-10">' +
      '<div class="clearfix">' +
      '<div class="col-sm-6">' + repo.nome + '</div>' +
      '</div>';

      if (repo.description) {
        markup += '<div>' + repo.nome + '</div>';
      }
      markup += '</div></div>';
      return markup;
    }

    function formatRepoSelection (repo) {
      return repo.nome || repo.text;
    }

    $('#cidade_municipios').select2({
      ajax: {
        url: "/municipios.json?select2_trigger=true",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            q: params.term, 
            page: params.page
          };
        },
        processResults: function (data, params) {

          params.page = params.page || 1;
          console.log(data.municipios)
          return {
            results: data.municipios,
            pagination: {
              more: (params.page * 30) < data.total_count
            }
          };
        },
        cache: true
      },
      escapeMarkup: function (markup) { return markup; }, 
      minimumInputLength: 1,
      templateResult: formatRepo, 
      templateSelection: formatRepoSelection 
    });

    <% if action_name == 'edit' %>
      var $option1 = $('<option selected><%= @cidade.municipio.try(:nome) %></option>').val('<%= @cidade.municipio_id %>');
      $('#cidade_municipios').append($option1).trigger('change');
    <% end %>
  });
</script>